/* NauryzRedKeds */
@font-face {
    font-family: 'NauryzRedKeds';
    src: url('/assets/fonts/NauryzRedKeds.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}