/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* Montserrat Alternates */
@font-face {
    font-family: 'MontserratAlternates';
    src: url('../assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* NauryzRedKeds */
@font-face {
    font-family: 'NauryzRedKeds';
    src: url('../assets/fonts/NauryzRedKeds.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}