/* Основные цвета */
:root {
    --color-violet: #896FFF;
    --color-white: #ffffff;
    --color-dark_white: #E0E0E0;
    --color-black: #000000;
    --color-error: #dc2626;
    --color-success: #16a34a;

    /* Шрифты */
    --font-text: 'Inter', sans-serif;
    --font-head: 'NauryzRedKeds', cursive;
    --font-alt: 'MontserratAlternates', sans-serif;

    /* Размеры */
    --font-size-normal: 14px;

    /* Радиусы */
    --radius-sm: 10px;
    --radius-md: 30px;
    --radius-lg: 45px;
}